.navbar {
    max-width: 80%;
    margin: auto;
    border-bottom: 2px solid #f5f6f7;
    border-left: 2px solid #f5f6f7;
    border-right: 2px solid #f5f6f7;
    margin-top: 32px;
}

.bg-img { 
    background-image: url(C:\Users\Alexandra\Homework\my-portfolio\images\background-image\18410.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}